* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/
.wrapper {
    overflow: hidden;
    min-height: 100%;
}

/* ============================================================================================================================================= */
.teem {
    text-align: center;
    background-color: #e7f1f8;
    max-width: 1440px;
}
.container-teem {
    height: 915px;
    padding-top: 119px;
    margin: 0 auto;
}
.teem-title {
    margin: 0 0 22px 0;
    font-size: 41.3px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #3c4761;
}
.teem-img {
    opacity: 0.74;
    margin-bottom: 25px;
}
.teem-text {
    font-size: 18.6px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #3c4761;
    margin-bottom: 78px;
}
.teem-row {
    display: flex;
    justify-content: space-around;
    margin: 0 200px 127px 200px;
}
.img__10 {
    margin-bottom: 40px;
}
.teem-column-title {
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #27283d;
    margin-bottom: 15px;
}
.teem-column-subtitle {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #30bae7;
    margin-bottom: 25px;
}
.teem-column-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #3c4761;
    margin-bottom: 30px;
    padding: 0 20px;
}
